h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
p {
    text-align: center;
}

ul {
    width: 50%;
    margin: 0 auto;
  }

li {
    text-align: center;
    align-items: center;
}

img {

    display: block; /* Garante que a imagem se comporte como um elemento de bloco */
    margin: 0 auto; /* Define as margens esquerda e direita como automáticas */
    border-radius: 500px; 
    max-width: 500px;
    max-height: 500px;
}

table {
    width: 50%;
    margin: 0 auto;
}